CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_QSDK_IOE_SB=y
CONFIG_DEVEL=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_KERNEL=y
CONFIG_KERNEL_KALLSYMS=y
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk"
CONFIG_PACKAGE_alljoyn-samples=m
CONFIG_PACKAGE_alljoyn-sample_apps=m
CONFIG_PACKAGE_binutils=m
CONFIG_PACKAGE_gdbserver=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libdw=m
CONFIG_PACKAGE_libelf1=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_objdump=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_strace=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_libcurl=m
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="QSDK4.0"
CONFIG_VERSION_NICK="IOE Single Band"
CONFIG_VERSION_NUMBER="NHSS.ILQ"
# CONFIG_VERSION_REPO="http://downloads.openwrt.org/attitude_adjustment/12.09-rc1/%S/packages"
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set

### Advantech
## SDK
CONFIG_SDK=y
CONFIG_MAKE_TOOLCHAIN=y
## ART2 (RF calibration)
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_kmod-art2=y
# CONFIG_LinuxART2_USE_CUSTOM_SOURCE_DIR is not set
# CONFIG_LinuxART2_USE_CUSTOM_VERSION is not set
CONFIG_PACKAGE_iperf3=y
## USB
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_zlib=y
CONFIG_PACKAGE_usbutils=y
## UART
CONFIG_PACKAGE_kmod-usb-acm=y
## Modem
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
## Serial
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-cp210x=y
CONFIG_BUSYBOX_CONFIG_STTY=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_minicom=y
## TPM
CONFIG_PACKAGE_kmod-spi-dev=y
CONFIG_PACKAGE_kmod-tpm=y
CONFIG_PACKAGE_kmod-tpm-spi-tis=y
## Tools
CONFIG_PACKAGE_ntpdate=y
